@import 'https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap';
@import 'tailwindcss';

:root {
	--font-sans: 'Roboto', sans-serif;
	scrollbar-gutter: stable;
}

body {
}

a {
	color: var(--color-blue-600);
}
a:hover {
	text-decoration: underline;
	color: var(--color-blue-800);
}

.hide-when-empty:empty {
	display: none !important;
}
